* {
  box-sizing: border-box;
}
.row {
  display: flex;
  height: 67vh;
}

/* Create two equal columns that sits next to each other */
.column1 {
  flex: 30%;
  padding-top: 5vh;
}
.column1 a:hover{
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #8d5dff;
}
.column1 a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: solid;
  width: 20px;
  border-width: 2px;
  border-color: #8d5dff;
  border-radius: 5px;
  padding: 5px 10px;
}
.column1 img{
  height: 100;
  width: 100;
}
.column2 {
  flex: 70%;
}

.App {
  text-align: center;
}
.bodyko{
  background: #282c34;
}
.About-Height{
  min-height: 45vmin;
}
.wew{
  margin-top: 10vh;
  font-size: 30px;
  padding-top: 13vh;
}
.contactss{
  color: #ff1500;
}
.App-logo {
  height: 18vh;
  pointer-events: none;
}
.social-container {
  background: #282c34;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #fa5d4e;
}

a.youtube:hover {
  color: #fb2511;
}

a.facebook {
  color: #4a89bd;
}

a.tiktok {
  color: #ffffff;
}

a.tiktok:hover {
  color: #8d5dff;
}

a.twitter {
  color: #7dc0f6;
}

a.instagram {
  color: rgb(255, 255, 255);
}
a.instagram:hover {
  color: rgb(219, 118, 2);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@media (max-width: 414px) {
  .About-Height{
    min-height: 50vh;
  }
  
}
@media (max-width: 768px) {
  .About-Height{
    min-height: 50vh;
  }
  .wew{
    margin-top: 10vh;
    font-size: 20px;
    padding-top: 13vh;
  }
  .social-container {
    margin-top: 100px;
  }
  .column2 {
    flex: 100%;
  }
  .column1{
    display: none;
  }
}

h3 {
  color: #ffffff;
}
.App-header {
  background-color: #282c34;
  min-height: 65vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.p {
  white-space: pre-wrap;
  word-wrap: break-word;   
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
