.App {
  text-align: center;
}
.bodyko{
  background: #282c34;
}
.About-Height{
  min-height: 45vmin;
}
.wew{
  margin-top: 25vh;
}
.contactss{
  color: #ff1500;
}
.App-logo {
  height: 18vh;
  pointer-events: none;
}
.social-container {
  background: #282c34;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #fa5d4e;
}

a.youtube:hover {
  color: #fb2511;
}

a.facebook {
  color: #4a89bd;
}

a.tiktok {
  color: #ffffff;
}

a.tiktok:hover {
  color: #4700ec;
}

a.twitter {
  color: #4a89bd;
}

a.instagram {
  color: rgb(255, 255, 255);
}
a.instagram:hover {
  color: rgb(251, 161, 57);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@media (max-width: 414px) {
  .About-Height{
    min-height: 54vmin;
  }
}

h3 {
  color: #ffffff;
}
.App-header {
  background-color: #282c34;
  min-height: 65vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
